@import "tailwindcss";
/* .background-image {
  background-image: url('./assets/elanzaImage.webp');
  background-size: cover;
  background-position: center;


} */
body {
  font-family: 'Playfair Display', serif;
}




.brand-name {
 font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

